{
  "extends": [
    "stylelint-config-standard-scss",
    "stylelint-config-recommended-vue/scss",
    "stylelint-config-idiomatic-order"
  ],
  "plugins": ["stylelint-scss"],
  "rules": {
    "at-rule-no-unknown": null,
    "selector-pseudo-class-no-unknown": null,
    "selector-id-pattern": null,
    "selector-class-pattern": null,
    "selector-nested-pattern": null,
    "scss/at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": ["tailwind", "apply", "screen"]
      }
    ]
  }
}
