:root[data-theme='onyx'] {
  --accent-50: theme('colors.aether.50');
  --accent-100: theme('colors.aether.100');
  --accent-200: theme('colors.aether.200');
  --accent-300: theme('colors.aether.300');
  --accent-400: theme('colors.aether.400');
  --accent-500: theme('colors.aether.500');
  --accent-600: theme('colors.aether.600');
  --accent-700: theme('colors.aether.700');
  --accent-800: theme('colors.aether.800');
  --accent-900: theme('colors.aether.900');
  --accent-950: theme('colors.aether.950');
  --theme-50: theme('colors.onyx.50');
  --theme-100: theme('colors.onyx.100');
  --theme-200: theme('colors.onyx.200');
  --theme-300: theme('colors.onyx.300');
  --theme-400: theme('colors.onyx.400');
  --theme-500: theme('colors.onyx.500');
  --theme-600: theme('colors.onyx.600');
  --theme-700: theme('colors.onyx.700');
  --theme-800: theme('colors.onyx.800');
  --theme-900: theme('colors.onyx.900');
  --theme-950: theme('colors.onyx.950');
}
