:root[data-theme='onyx'] {
  --accent-400: theme('colors.aether.400');
  --accent-500: theme('colors.aether.500');
  --accent-600: theme('colors.aether.600');
  --error-400: theme('colors.ember.400');
  --error-500: theme('colors.ember.500');
  --error-600: theme('colors.ember.600');
  --warning-400: theme('colors.beacon.400');
  --warning-500: theme('colors.beacon.500');
  --warning-600: theme('colors.beacon.600');
  --theme-50: theme('colors.onyx.50');
  --theme-100: theme('colors.onyx.100');
  --theme-200: theme('colors.onyx.200');
  --theme-300: theme('colors.onyx.300');
  --theme-400: theme('colors.onyx.400');
  --theme-500: theme('colors.onyx.500');
  --theme-600: theme('colors.onyx.600');
  --theme-700: theme('colors.onyx.700');
  --theme-800: theme('colors.onyx.800');
  --theme-900: theme('colors.onyx.900');
  --theme-950: theme('colors.onyx.950');
}
